@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Index */

:root {
  --navbar_w: 300px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgba(212, 216, 214, 0.493);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  margin-left: var(--navbar_w);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 75px;
}

.logo {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 25px;
}

.group{
  width: 100%
}



.content-box {
  margin: 75px 150px 0 150px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  width: auto;
  height: auto;
  font-size: 25px;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 12.5px rgba(0, 0, 0, 0.52);
}

.box2 {
  display: flex;
  flex-direction: row;
}

.row1 {
  margin: 75px 32.5px 0 150px;
  padding: 25px
}


.row2 {
  margin: 75px 150px 0 32.5px;
}



.more_link{
  font-size: 20px;
  color: rgb(45, 45, 238);
  text-decoration: none
}

.more_link:hover{
  border-bottom: solid rgb(45, 45, 238) 1px;
}

.programs{
  letter-spacing: 0;
}



.more{
  letter-spacing: 0;
}

/* Nav / Menu */

.navbar {
  display: flex;
  align-items: baseline;
  position: fixed;
  display: flex;
  width: var(--navbar_w);
  height: 100vh;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}


.navbar-item {
  display: flex;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20%;
  flex-grow: 1;
}

.ic {
  font-size: 20px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.445);
}

.item {
  order: 1;
}

.item:hover ~ .ic {
  color: brown;
  transition: color 1s;
}

.item:hover {
  color: brown;
}

.clicked .item {
  color: brown;
  text-decoration: underline 1px brown;
  text-underline-offset: 2px;
}

.clicked .ic {
  color: brown;
}

.menu{
  width: 100%;
  text-align: center;
  background-color: white;
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  display: none;
}


/* Effectif */

.list, .musicians {
  letter-spacing: 0;
  list-style-type: '- '
}


/* Dates et Concerts*/

.dates{
  list-style-type: '- ';
}

.year{
  text-decoration: underline 1px solid black;
}

/* Nous rejoindre*/

.more_title{
  text-decoration: underline 1px solid black;
}