@media (max-width: 4000px) {
    .box2 {
      flex-direction: column;
    }
  
    .content-box {
      margin: 75px 75px 0 75px;
    }
  }
  
  @media (max-width: 1015px) {
    .logo {
      float: none;
    }
    .history {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .content-box {
      letter-spacing: 2px;
    }
  }
  
  @media (max-width: 950px) {

    .navbar {
      display: none;
    }
    .content {
      margin-left: 0;
      margin-top: 120px;
    }
  
    .logo {
      width: 150px;
      height: 150px;
    }
  
    .content-box {
      margin: 30px 30px 30px 30px;
      letter-spacing: normal;
      text-align: center;
    }
    .menu {
      display: inline-block;
      position: fixed;
      top: 0;
    }
    .menu-content {
      display: flex;
      min-width: 160px;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

  
    .menu-item {
      cursor: pointer;
      font-family: Roboto, sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
    }

    .dates{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .list{
        letter-spacing: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
  }

  @media (max-width: 500px) {

    .navbar {
      display: none;
    }
    .content {
      margin-left: 0;
      margin-top: 120px;
    }
  
    .logo {
      width: 150px;
      height: 150px;
    }
  
    .content-box {
      margin: 30px 30px 30px 30px;
      letter-spacing: normal;
      text-align: center;
    }
    .menu {
      display: inline-block;
      position: fixed;
      top: 0;
    }
    .menu-content {
      display: flex;
      min-width: 160px;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

  
    .menu-item {
      cursor: pointer;
      font-family: Roboto, sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
    }

    .dates{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .list {
        letter-spacing: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

    .item{
      display:none ;
    }

    .logo{
      margin-bottom: 15px;
    }

  }
  